<!DOCTYPE html>
<html>
<head>
  <title>LibraryApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <style>
    body {
      background-image: url('<%= asset_path('library.jpg') %>'); /* Add your background image */
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      background: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }
  </style>
</head>

<body>
  <%= yield %>
</body>
</html>